<div class="bg-dark">
    <mat-sidenav-container class="full-height" autosize="true">
        <mat-sidenav mode="side" opened class="bg-dark p-2 text-white">
            <div mat-menu-item (click)="toggleSidenav()" class="with-icon padded">
                <mat-icon *ngIf="isExpanded; else collapsedIcon" >close</mat-icon>
                <ng-template #collapsedIcon>
                    <mat-icon >menu</mat-icon>
                </ng-template>
            </div>

            <div mat-menu-item *ngFor="let sideMenu of sideMenuList; let index" [routerLink]="['/', sideMenu.route]"
                class="with-icon padded">
                <mat-icon >{{ sideMenu.icon }}</mat-icon>
                <span [hidden]="!isExpanded">&nbsp;{{ sideMenu.name }}</span>
            </div>
        </mat-sidenav>

        <!-- <mat-sidenav-content class="padded">
            <router-outlet></router-outlet>
        </mat-sidenav-content> -->

    </mat-sidenav-container>
</div>