:host{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.header{
  display: flex;
  
  border-bottom: 1px solid white;
  padding: 20px;

  color: white;
  background-color: #1e1e1e;
}

.main{
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.main-header{
  color: white;

  margin-bottom: -265px;
}

.main-form{
  display: flex;
  flex-flow: column;
  background-color: #2b2a33;
  width: 25%;
  padding: 50px;
  border-radius: 20px;
}

.button{
  display: flex;
  justify-content: right;
  color: white;
}

.footer{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: white;
  border-top: 1px solid white;
  gap: 108px;
  padding: 10px 100px;
  mat-icon{
    transform: scale(1.5);
  }
}